<dialog id="app-menu" class="menu | grid">
  <!-- prettier-ignore -->
  <% const menuTabs = [
       { name: "definitions", icon: "Book2", contentClass: "grid", selected: true },
       { name: "difficulty", icon: "Versions" },
       { name: "stats", icon: "ChartBar", contentClass: "grid" },
     ] %>
  <header class="flex items-center">
    <nav>
      <div id="menu-tab-nav" class="tab-nav" role="tablist">
        <!-- prettier-ignore -->
        <% for (const tab of menuTabs) { %>
        <%- include("tabs/Tab", { ...tab, group: "menu" }) %>
        <% } %>
      </div>
    </nav>
    <button id="menu-close" class="button" aria-label="Close menu">
      <%- include("icon/X") %>
    </button>
  </header>
  <div id="menu-tab-content" class="tab-content">
    <!-- prettier-ignore -->
    <% for (const tab of menuTabs) { %>
    <%- include("tabs/TabContentItem", {
          ...tab,
          group: "menu",
          class: tab.contentClass
        }) %>
    <%- include(`menu/${capitalize(tab.name)}TabContent`) %>
    <%- include("tabs/TabContentItem", { close: true }) %>
    <% } %>
  </div>
</dialog>
