<label class="label" data-type="radio">
  <span class="radio text-difficulty-<%= difficulty %>">
    <input
      class="radio__inner"
      type="radio"
      name="difficulty"
      value="<%= difficulty %>"
    />
    <span class="radio__icon" aria-hidden="true">
      <!-- prettier-ignore -->
      <%- include("icon/RadioUnchecked") %>
      <%- include("icon/RadioChecked") %>
    </span>
  </span>
  <span class="label__text">
    <span class="difficulty-name text-difficulty-<%= difficulty %>">
      <!-- prettier-ignore -->
      <% const label = capitalize(difficulty) %>
      <%= locals.onLabel?.(label) ?? label %>:
    </span>
    <%= description %>
    <% if (locals.extraDifficulty != null) { %>
    <span class="plus-sign">+</span>
    <span class="difficulty-name text-difficulty-<%= extraDifficulty %>">
      <!-- prettier-ignore -->
      <% const extraLabel = capitalize(extraDifficulty) %>
      <%= locals.onExtraLabel?.(extraLabel) ?? extraLabel %>
    </span>
    <% } %>
  </span>
</label>
