<button
  id="<%= name %>-<%= contentName %>-tab"
  class="tab-nav__trigger"
  role="tab"
  aria-controls="<%= name %>-<%= contentName %>-tab-content"
  aria-selected="<%= locals.selected ?? false %>"
  ejs="<% if (locals.selected ?? false) { %>"
  disabled
  ejs="<% } %>"
>
  <%- include(`icon/${icon}`) %>
  <%= capitalize(name) %>
</button>
