<% for (const tab of tabs) { %>
<!--
  TODO:
  - move button logic to TabNavItem.ejs
  - remove TabNav.ejs
-->
<button
  id="<%= tab.name %>-<%= name %>-tab"
  class="tab-nav__link"
  role="tab"
  aria-controls="<%= tab.name %>-<%= name %>-tab-content"
  aria-selected="<%= tab.selected ?? false %>"
  ejs="<% if (tab.selected ?? false) { %>"
  disabled
  ejs="<% } %>"
>
  <%- include(`icon/${tab.icon}`) %>
  <%= capitalize(tab.name) %>
</button>
<% } %>
